alabaster==0.7.11
appnope==0.1.0
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
backcall==0.1.0
certifi==2018.8.13
chardet==3.0.4
coverage==4.5.1
cycler==0.10.0
decorator==4.3.0
docutils==0.14
idna==2.7
imagesize==1.0.0
ipython==7.16.3
ipython-genutils==0.22.19.1.0
jedi==0.12.1
Jinja2==2.10.1
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
more-itertools==4.3.0
numpy==1.15.0
packaging==17.1
parso==0.4.1
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.5.4
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.7.2
pytest-cov==2.5.1
python-dateutil==2.7.3
python-logstash==0.4.6
pytz==2018.5
requests==2.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.7
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
tqdm==4.25.0
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
